.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  grid-template-areas:
  'logo header'
  'nav main'
  'footer footer'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shopping-list {
  list-style: none;
}

.navigation {
  list-style: none;
  display: grid;
  padding: 10px;
  row-gap: 10px;
}


.crossed-out {
  text-decoration: line-through;
}

.header {
  grid-area: header;
}

/* .navigation {
  justify-self: center;
  align-self: center;
} */

footer {
  align-self: center;
  grid-area: footer;
  grid-column: 1/3;
}

.navigation a {
  text-decoration: none;
}


.navigation a:visited {
  color: black;
}


.navigation a:hover {
  color: grey;
}